<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular Material style sheet -->
    <!-- Angular Material Icons-->
    <!-- my style-->
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- link rel="stylesheet" href="./style/style.css"> -->
    <style>
        html {
            background-color: #141b2d
        }
        body {
            background-color: #141b2d;
            color: #e6e7ea;
        }

        .index {
            font-size: 9px;
            position: absolute;
            height: 100px;
        }

        .container-v2 {
            margin-top: 50vh;
            margin-left: 5vw;
        }

        .layout-content {
            min-height: 100vh;
        }

        .layout-content h2 {
            color: #e6e7ea;
        }

        .md-card {
            background-color: #1f2940;
            color: #e6e7ea;
        }

        .md-card-info {
            background-color: #1f2940;
            color: #e6e7ea;
            max-height: 50px;
        }

        .md-card-slim {
            background-color: #1f2940;
            color: #e6e7ea;
            max-height: 100px;
        }

        .md-card-algorithm {
            background-color: #141b2d;
            color: #e6e7ea;
        }

        .align-icon {
            margin-top: 22px;
            margin-right: 22px;
        }

        .align-info-icon {
            margin-top: 22px;
            margin-right: 22px;
        }

        .align-toolbar-icon {
            margin-right: 5px;
        }

        .md-list-item-icon {
            margin-left: 50px;
        }

        .md-48 {
            font-size: 35px;
        }

        .md-button {
            background-color: #141b2d !important;
            color: #e6e7ea;

        }

        .button-slim {
            margin-top: 15px;
            max-height: 10px;
            margin-left: 0;
        }

        md-toolbar {
            background-color: #1f2940 !important;
            color: #e6e7ea;
        }

        /* input */
        .md-input {
            color: white !important;
        }

        .multiplication-icon {
            transform: rotate(45deg);
        }

        .info-span {
            color: #020714;
        }
    </style>
</head>

<body ng-app="app" ng-controller="appController" ng-cloak>

    <!-- Header card -->
    <div class="layout-content" layout="column" layout-align="start" flex>
        <md-card class="md-card-slim" layout-align="center center" flex>
            <md-card-header>
                <md-card-title layout="row">
                    <!--  <i class="material-icons align-icon md-48">groups</i> -->
                    <i class="material-icons align-icon md-48">public</i>
                    <h2>Eleições de Governador do Mundo!</h2>
                </md-card-title>
            </md-card-header>
        </md-card>

        <div layout="row" layout-align="center start" flex>
            <md-card class="md-card" layout="column" flex="100">
                <md-card-header style="padding-bottom: 0px;">
                    <i class="material-icons align-icon">groups</i>
                    <h3> Seu Candidato </h3>
                </md-card-header>
                <md-card-content layout="column" style="margin-top:0px !important; padding-top:0px;">
                    <div layout="row" layout-align="center center" style="margin-top:0px; padding-top:0px;">
                        <!-- Darth Vader -->
                        <md-card class="md-card" layout-padding ng-show="user.candidate.name.includes('Rick')"
                            style="background-color: #141b2d" flex="30">
                            <md-card-content layout="column" style="margin-top:0px !important">
                                <div layout="row" layout-align="start center">
                                    <h4>&nbsp;Rick Sanchez</h4>
                                </div>
        
                                <div layout="row" layout-align="center center">
                                    <img src="https://media.tenor.com/pKA6RGnJ1IUAAAAd/rick-and-morty-rick-sanchez.gif"
                                        width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                                </div>
        
                                <strong layout-margin layout-padding>♥ {{ rick_votes }}</strong>
                            </md-card-content>
                        </md-card>
        
                        <!-- Jesus Cristo -->
                        <md-card class="md-card" layout-padding ng-show="user.candidate.name.includes('Jesus')"
                            style="background-color: #141b2d" flex="30">
                            <md-card-content layout="column" style="margin-top:0px !important">
                                <div layout="row" layout-align="start center">
                                    <h4>&nbsp;Jesus Cristo</h4>
                                </div>
        
                                <div layout="row" layout-align="center center">
                                    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDY4NzYzNGY3YTY4ODIzMTljN2MzOTU3NGVkZDBiNmZmYTIxM2IyMiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/g5qEgeTM20nnO/giphy.gif"
                                        width="400" height="180" layout-align="center center" style="border-radius: 10px;">
                                </div>
        
                                <strong layout-margin layout-padding>♥ {{ jesus_votes }}</strong>
                            </md-card-content>
                        </md-card>
        
                        <md-card class="md-card" layout-padding ng-show="user.candidate.name.includes('Darth')"
                            style="background-color: #141b2d" flex="30">
                            <md-card-content layout="column" style="margin-top:0px !important">
                                <div layout="row" layout-align="start center">
                                    <h4>&nbsp;Darth Vader</h4>
                                </div>
        
                                <div layout="row" layout-align="center center">
                                    <img src="https://media.tenor.com/V4fVyxNN2x8AAAAM/dance-star-wars.gif"
                                        width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                                </div>
        
                                <strong layout-margin layout-padding>♥ {{ darth_votes }}</strong>
                            </md-card-content>
                        </md-card>
        
                        <md-card class="md-card" layout-padding ng-show="user.candidate.name.includes('Romer')"
                            style="background-color: #141b2d" flex="30">
                            <md-card-content layout="column" style="margin-top:0px !important">
                                <div layout="row" layout-align="start center">
                                    <h4>&nbsp;Romer Simpson</h4>
                                </div>
        
                                <div layout="row" layout-align="center center">
                                    <img src="https://metro.co.uk/wp-content/uploads/2017/01/ezgif-com-crop-33.gif?quality=90&strip=all&zoom=1&resize=540%2C341"
                                        width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                                </div>
        
                                <strong layout-margin layout-padding>♥ {{ romer_votes }}</strong>
                            </md-card-content>
                        </md-card>
        
                        <md-card class="md-card" layout-padding ng-show="user.candidate.name.includes('Michael')"
                            style="background-color: #141b2d" flex="30">
                            <md-card-content layout="column" style="margin-top:0px !important">
                                <div layout="row" layout-align="start center">
                                    <h4>&nbsp;Michael Jackson</h4>
                                </div>
        
                                <div layout="row" layout-align="center center">
                                    <img src="https://media.tenor.com/q5aLfbgwHNIAAAAM/michael-jackson-shades.gif"
                                        width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                                </div>
        
                                <strong layout-margin layout-padding>♥ {{ michael_votes }}</strong>
                            </md-card-content>
                        </md-card>
                    </div>
        
        
                    <div layout="row" layout-align="end end">
                        <md-button class="button-primary" ng-href="/" flex="10">
                            ir para menu
                        </md-button>
                    </div>
                </md-card-content>
        
            </md-card>
        </div>

        <!-- info cards -->
        <div layout="row" layot-align="start start">
            <!-- Darth Vader -->
            <md-card class="md-card" layout-padding flex>
                <md-card-content layout="column">
                    <div layout="row" layout-align="start center">
                        <h4>&nbsp;Rick Sanchez</h4>
                    </div>

                    <div layout="row" layout-align="center center">
                        <img  src="https://cdn.dribbble.com/users/5592443/screenshots/14279501/media/03a05059cbfbc4ed313162fff2476111.png"
                            width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                    </div>

                    <strong layout-margin layout-padding>♥ {{ rick_votes }}</strong>

                </md-card-content>
            </md-card>

            <md-card class="md-card" layout-padding flex>
                <md-card-content layout="column">
                    <div layout="row" layout-align="start center">
                        <h4>&nbsp;Jesus Cristo</h4>
                    </div>

                    <div layout="row" layout-align="center center">
                        <img src="https://s2.glbimg.com/B7Dp-gfXk9-BjGkgMcgodpK4tCE=/smart/e.glbimg.com/og/ed/f/original/2016/10/27/jesus.jpg"
                            width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                    </div>

                    <strong layout-margin layout-padding>♥ {{ jesus_votes }}</strong>

                </md-card-content>
            </md-card>

            <md-card class="md-card" layout-padding flex>
                <md-card-content layout="column">
                    <div layout="row" layout-align="start center">
                        <h4>&nbsp;Darth Vader</h4>
                    </div>

                    <div layout="row" layout-align="center center">
                        <img src="https://observatoriodocinema.uol.com.br/wp-content/uploads/2019/09/Darth-Vader.jpg" 
                            width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                    </div>

                    <strong layout-margin layout-padding>
                            ♥ {{ darth_votes }}
                         </span>
                    </strong>


                    
                </md-card-content>
            </md-card>

            <md-card class="md-card" layout-padding flex>
                <md-card-content layout="column">
                    <div layout="row" layout-align="start center">
                        <h4>&nbsp;Romer Simpson</h4>
                    </div>

                    <div layout="row" layout-align="center center">
                        <img src="https://s2.glbimg.com/u7z147W5PQKM-nAObJBd7OvAKVM=/0x0:1125x720/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2023/b/l/EE4jI1SQ2BHu5OokKMBQ/homer-simpson-1-264a0.jpeg" width="300px"
                            width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                    </div>

                    <strong layout-margin layout-padding>♥ {{ romer_votes }}</strong>


                </md-card-content>
            </md-card>

            <md-card class="md-card" layout-padding flex>
                <md-card-content layout="column">
                    <div layout="row" layout-align="start center">
                        <h4>&nbsp;Michael Jackson</h4>
                    </div>

                    <div layout="row" layout-align="center center">
                        <img src="https://vejasp.abril.com.br/wp-content/uploads/2016/12/michael-jackson-617-409.jpg?quality=70&strip=info&w=555&h=346&crop=1"
                            width="300px" height="180" layout-align="center center" style="border-radius: 10px;">
                    </div>
                    <strong layout-margin layout-padding>♥ {{ michael_votes }}</strong>

                </md-card-content>
            </md-card>
        </div>

       
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <!-- Script  -->
    <script type="text/javascript">
        
        //Criando a controller para gerenciar o script da soma
        angular.module('app', ['ngMaterial', 'ngMessages'])
            .controller('appController', function ($scope) {
                const urlParams = new URLSearchParams(window.location.search)

                $scope.user = {}
                $scope.user.candidate = {
                    name: urlParams.get('candidate')
                }

                console.log($scope.user.candidate)
            })
    </script>

</body>

</html>